@model IEnumerable<QuyetTienManage.Models.BangSanPham>

@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" type="text/css" href="~/Content/dataTables.min.css" />

<h2>Danh Sách Sản Phẩm</h2>
<hr />
<p>
    @Html.ActionLink("Thêm Mới Sản Phẩm", "Create", null, new { @class = "btn btn-primary pull-right", @style = "margin-bottom: 10px" })
</p>

<table class="table table-bordered table-striped table-hover" id="myTable">
    <thead>
        <tr>
            <th>
                Mã Sản Phẩm
            </th>
            <th>
                Tên Sản Phẩm
            </th>
            <th>
                Giá Bán
            </th>
            <th>
                Giá Gốc
            </th>
            <th>
                Giá Góp
            </th>
            <th>
                Số Lượng Tồn
            </th>
            <th>
                Loại Sản Phẩm
            </th>
            <th>Hình Sản Phẩm</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaSP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenSP)
                </td>
                <td>
                    @String.Format("{0:0,0}", item.GiaBan) VNĐ
                </td>
                <td>
                    @String.Format("{0:0,0}", item.GiaGoc) VNĐ
                </td>
                <td>

                    @String.Format("{0:0,0}", item.GiaGop) VNĐ
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoLuongTon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoaiSanPham.TenLoai)
                </td>
                <td>
                    <img src="@Url.Action("Details", new { id = item.id })" width="150" height="100" />
                </td>
                <td>
                    @Html.ActionLink(" ", "Edit", new { id = item.id }, new { @class = "glyphicon glyphicon-pencil " }) |
                    @Html.ActionLink(" ", "Delete", new { id = item.id }, new { @class = "glyphicon glyphicon-trash " })
                </td>
            </tr>
        }
       
    </tbody>
</table>
@section Scripts{
    <script type="text/javascript" charset="utf-8" src="~/Content/dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}
