@model IEnumerable<QuyetTienManage.Models.BangSanPham>

@{
    ViewBag.Title = "Index";
}

<h2>Danh Sách Sản Phẩm</h2>

<p>
    <input type="text" placeholder="Search.." class="pull-left">
    @Html.ActionLink("Thêm Mới Sản Phẩm", "Create",null, new {@class = "btn btn-primary pull-right"} )
</p>
<table class="table table-bordered table-striped table-hover">
    <tr>
        <th>
            Mã Sản Phẩm
        </th>
        <th>
            Tên Sản Phẩm
        </th>
        <th>
            Giá Bán
        </th>
        <th>
            Giá Gốc
        </th>
        <th>
            Giá Góp
        </th>
        <th>
            Số Lượng Tồn
        </th>
        <th>
            Loại Sản Phẩm
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaSP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenSP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiaBan) VNĐ
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiaGoc) VNĐ
        </td>
        <td>
                       
            @Html.DisplayFor(modelItem => item.GiaGop) VNĐ
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuongTon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoaiSanPham.TenLoai)
        </td>
        <td>
            @Html.ActionLink(" ", "Edit", new { id = item.id }, new { @class = "glyphicon glyphicon-pencil " }) |
            @Html.ActionLink(" ", "Details", new { id = item.id }, new { @class = "glyphicon glyphicon-list-alt " }) |
            @Html.ActionLink(" ", "Delete", new { id = item.id }, new { @class = "glyphicon glyphicon-trash " })
        </td>
    </tr>
}

</table>
